ion-content{
    --background: rgb(154,83,217);
    --background: linear-gradient(0deg, rgba(192, 152, 228, 0.932) 10%, rgba(255,255,255,1) 50%);
}

.logo{

    margin-top: 65%;
    display: flex;
    flex-direction: column ;
    align-items: center;
}

h1{
    font-family: bondoni mt condensed;
    font-weight: 1000 ;
    letter-spacing: 3px;
}
