

<ion-content [fullscreen]="true">
  <div class="inicio">


<img src="assets/logo-nova.png">
<h1>MATCHBALLS</h1>  
</div>

<form id="form">
  <ion-input  fill="outline"  placeholder="Insira seu E-mail" style="margin-top: 25%;"></ion-input>
  <ion-input  type="password"  fill="outline" placeholder="Insira sua Senha"></ion-input>
  <ion-button (click)="irParaTab1()" style="margin-top: 25%;">Login</ion-button>
  <ion-button   (click)="fazerRegistro()">Cadastra-se</ion-button>
</form>


</ion-content>
