#chat{
    margin-top: 130%;
    position: absolute;
    bottom: 0; 
    width: 100%; 
    z-Index: 999
}
#maria{
    width: 40px;
    position: relative;
    right: 30px;
    clip-path: circle(50%);
    margin: 1px;
}
#container-img{
    justify-content: center;
    display: flex;
    text-align: center;
    
}
#name-img{

}
#container-p{
    width: 355px;
    height: 40px;
    justify-content:center;
    align-items: center;
    display: flex;
    position: relative;
    right: 54.5px;
    border-bottom: 1.5px rgba(193, 193, 193, 0.858) solid;
    box-shadow: 0px 2px rgba(238, 238, 238, 0.858);
}

@media (min-width: 375px) {
    .column {
      width: 50%;
    }
  

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
ion-content{
    height: 100vh;
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 20px rgba(0,0, 0, 0.4);
    background-color: #e8b5ed;
}

.body{
    flex: 1;
    color: white;
    background: rgb(232,181,237);
background: linear-gradient(0deg, rgba(232,181,237,1) 0%, rgba(240,240,240,1) 8%);
}


ion-button{
    background: plum;
    border-radius: 15px;
   

}

ion-input{
    border-radius: 15px 10px;
}
#chat ion-button{
    width: 25%;
    --background: rgb(232,181,237);
    --border-radius: 50px;
}

#chat ion-input{
   height: auto;
   --background:white ;
    --border-radius: 30px;
    margin: 5px;
}

#chat{
    
    --background:  #f0f0f0;
}
}